@{
  Layout = "_SideLayout";
}
<body>
  <div id="content">
    <section id="mainColumn">
      <h2>Inloggning för Småstads personal</h2>
      <p class="info">En säker tjänst från Småstads IT-avdelning</p>

      @model LoginModel

      <form asp-controller="Account" asp-action="Login" method="Post">
        <p>
          <label asp-for="UserName"></label>
          <input asp-for="UserName" />
          <span class="label" asp-validation-for="UserName"></span>
        </p>
        <p>
          <label asp-for="Password"></label>
          <input asp-for="Password" />
          <span class="label" asp-validation-for="Password"></span>
        </p>
        <p>
          <input type="hidden" asp-for="ReturnURL" />
        </p>
        <p>
          <input class="button" type="submit" value="Logga in" />
        </p>
        <div asp-validation-summary="All"></div>
      </form>
    </section><!-- End Left -->
  </div>
</body>