
  @{
    Layout = "_SideLayout";
  }

<body>
  <div id="content">
    <section id="mainColumn">
      <h2>Avdelningar och Tjänster</h2>
      <p class="info">Vi bryr oss om dig</p>

      <p>Folkhälsa - Hälso- och Sjukvård, Tandvård - Socialtjänst och omsorg - Trygghet och säkerhet</p>
      <p>Bygga och bo - Gator och parker - Kollektivtrafiken - Miljö- och hälsoskydd - Sophantering och återvinning</p>
      <p>Barn och utbildning - Kultur och fritid</p>
      <p>Företagsservice</p>
    </section><!-- End Left -->
    </div>
</body>




