
@{
    Layout = "_ReportCrimeLayout";
}
<body>
  <div id="content">
    <h2>Välkommen att fylla i din anmälan av miljöbrott</h2>
    <p class="info">I Småstad är inga brott för små för att anmälas</p>
  </div>
</body>



