<!DOCTYPE html>

<html xml:lang="sv" lang="sv">
<head>
  <meta charset="UTF-8" />
  <title>Småstads kommun</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div id="wrapper">
    <header id="logo">
      <h1>Småstad</h1>
      <p>Kommunen där vi bryr oss om varandra</p>
    </header><!-- End header -->
    <div id="content">
      @RenderBody();
    </div>

  </div>
</body>

</html>
