@{
  String controller2 = (string)Html.ViewContext.RouteData.Values["controller"];
  if (controller2 == "Home") {
    Layout = "_SideLayout";
  }
  else  {
    Layout = "_MainLayout";
  }

}
@model Errand

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
  <div>
    @RenderBody()
  </div>
  <div id="content">
    <section id="mainColumn">
      <p>Fyll i formuläret nedan, alla rutor markerade med stjärna (*) måste fyllas i.</p>
      @{
        string controller = "";
        string action = "";

        controller = (string)Html.ViewContext.RouteData.Values["controller"];
        if (controller == "Home") {
          controller = "Citizen";
          action = "Validate";
        }
        else if (controller == "Coordinator") {
          controller = "Coordinator";
          action = "Validate";
        }
      }
      <form method="post" asp-controller=@controller asp-action=@action>
        <p>
          <input type="hidden" name="isSubmitted" value="true" />
        </p>
        <p>
          <span class="label" asp-for="Place">Var har brottet skett någonstans?</span><br />
          <input asp-for="Place" /> *
          <span asp-validation-for="Place"></span>
        </p>
        <p>
          <span class="label" asp-for="TypeOfCrime">Vilken typ av brott?</span><br />
          <input asp-for="TypeOfCrime" /> *
          <span asp-validation-for="TypeOfCrime"></span>
        </p>
        <p>
          <span class="label" asp-for="DateOfObservation">När skedde brottet?</span><br />
          <input asp-for="DateOfObservation" /> *
          <span asp-validation-for="DateOfObservation"></span>
        </p>
        <p>
          <span class="label" asp-for="InformerName">Ditt namn (för- och efternamn):</span><br />
          <input asp-for="InformerName" /> *
          <span asp-validation-for="InformerName"></span>

        </p>
        <p>
          <span class="label" asp-for="InformerPhone">Din telefon:</span><br />
          <input asp-for="InformerPhone" /> *
          <span asp-validation-for="InformerPhone"></span>
        </p>
        <p>
          <span class="label" asp-for="Observation">Beskriv din observation<br /> (ex. namn på misstänkt person):</span><br />
          <textarea asp-for="Observation" rows="5" cols="16"></textarea>
          
        </p>
        <p>
          <input class="button" type="submit" value="Skicka in" />
        </p>
      </form>
    </section><!-- End Left -->

  </div>
</body>
</html>
