
@{
  Layout = "_MainLayout";
}

@model Errand
<body>
  <div id="content">
    <h2>Tack för din anmälan</h2>
    <p class="info">Du är inloggad som samordnare</p>

    <p>
      Anmälan har nu skickats in till kommunen och kommer att utredas. <br />
      Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
      Ange då nummer: @Model.RefNumber
    </p>

    <p><a class="button" asp-controller="Coordinator" asp-action="StartCoordinator">Avsluta rapporteringen</a></p>
  </div>

</body>

